n8n/Lead Intelligence Kickoff - SIMPLE WORKING.json
{
  "name": "Lead Intelligence Kickoff - SIMPLE WORKING",
  "nodes": [
    {
      "parameters": {
        "path": "sa1",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS, GET"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept, Origin"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        272
      ],
      "id": "8a0f96b5-f27d-40d5-bdb7-4c4d75963d75",
      "name": "Webhook",
      "webhookId": "66432e97-afdc-4f70-9cb4-56384fa2fa16"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.contact.name}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.body.leadExamples}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "74004e75-422e-4a9d-bb52-d31dfc0aeb44",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        96,
        272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"success\": true, \"message\": \"Kickoff data modtaget\", \"timestamp\": $now.toISO(), \"contactName\": $json.body.contact.name} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "76faae3d-bf1b-4266-b8b7-146341570293",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        544,
        176
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"success\": false, \"error\": \"Manglende påkrævede felter: contactName eller leadExamples\"} }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "2f761953-e142-4cd9-9bd3-f1ee14adfd2f",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        320,
        368
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "submittedAt",
              "value": "={{$json.body.submittedAt}}"
            },
            {
              "name": "contactName",
              "value": "={{$json.body.contact.name}}"
            },
            {
              "name": "referralSource",
              "value": "={{$json.body.referralSource}}"
            },
            {
              "name": "jobsites",
              "value": "={{$json.body.jobsites ? $json.body.jobsites.join(', ') : ''}}"
            },
            {
              "name": "jobsitePriority",
              "value": "={{$json.body.jobsitePriority || ''}}"
            },
            {
              "name": "leadExamples",
              "value": "={{$json.body.leadExamples}}"
            },
            {
              "name": "minEmployees",
              "value": "={{$json.body.icp?.minEmployees || ''}}"
            },
            {
              "name": "maxEmployees",
              "value": "={{$json.body.icp?.maxEmployees || ''}}"
            },
            {
              "name": "industries",
              "value": "={{$json.body.icp?.industries ? $json.body.icp.industries.join(', ') : ''}}"
            },
            {
              "name": "geografi",
              "value": "={{$json.body.icp?.geografi || ''}}"
            },
            {
              "name": "funding",
              "value": "={{$json.body.funding || ''}}"
            },
            {
              "name": "hubspotAPI",
              "value": "={{$json.body.hubspot?.api || ''}}"
            },
            {
              "name": "leadHandling",
              "value": "={{$json.body.hubspot?.leadHandling || ''}}"
            },
            {
              "name": "commChannel",
              "value": "={{$json.body.comm?.channel || ''}}"
            },
            {
              "name": "notes",
              "value": "={{$json.body.notes || ''}}"
            },
            {
              "name": "rawData",
              "value": "={{JSON.stringify($json.body)}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3e88412b-c05c-4c55-97fc-8c02c99270a2",
      "name": "Format Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        320,
        176
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Lead Intelligence"
    }
  ]
}