n8n/Lead Intelligence - DATATABLE WORKING.json
{
  "name": "Lead Intelligence - DATATABLE WORKING",
  "nodes": [
    {
      "parameters": {
        "path": "sa1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-128, 272],
      "id": "8a0f96b5-f27d-40d5-bdb7-4c4d75963d75",
      "name": "Webhook",
      "webhookId": "66432e97-afdc-4f70-9cb4-56384fa2fa16"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$httpMethod}}",
              "value2": "OPTIONS"
            }
          ]
        }
      },
      "id": "method-check",
      "name": "Check HTTP Method",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [96, 272]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "",
        "options": {
          "responseCode": 204,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS, GET"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept, Origin"
              },
              {
                "name": "Access-Control-Max-Age",
                "value": "86400"
              }
            ]
          }
        }
      },
      "id": "options-response",
      "name": "OPTIONS Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [320, 80]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.contact?.name}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.body.leadExamples}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "74004e75-422e-4a9d-bb52-d31dfc0aeb44",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [320, 368]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "submittedAt",
              "value": "={{$json.body.submittedAt || $now.toISO()}}"
            },
            {
              "name": "contactName",
              "value": "={{$json.body.contact?.name || ''}}"
            },
            {
              "name": "referralSource",
              "value": "={{$json.body.referralSource || ''}}"
            },
            {
              "name": "jobsites",
              "value": "={{$json.body.jobsites ? $json.body.jobsites.join(', ') : ''}}"
            },
            {
              "name": "jobsitePriority",
              "value": "={{$json.body.jobsitePriority || ''}}"
            },
            {
              "name": "leadExamples",
              "value": "={{$json.body.leadExamples || ''}}"
            },
            {
              "name": "minEmployees",
              "value": "={{$json.body.icp?.minEmployees || ''}}"
            },
            {
              "name": "maxEmployees",
              "value": "={{$json.body.icp?.maxEmployees || ''}}"
            },
            {
              "name": "industries",
              "value": "={{$json.body.icp?.industries ? $json.body.icp.industries.join(', ') : ''}}"
            },
            {
              "name": "geografi",
              "value": "={{$json.body.icp?.geografi || ''}}"
            },
            {
              "name": "funding",
              "value": "={{$json.body.funding || ''}}"
            },
            {
              "name": "hubspotAPI",
              "value": "={{$json.body.hubspot?.api || ''}}"
            },
            {
              "name": "leadHandling",
              "value": "={{$json.body.hubspot?.leadHandling || ''}}"
            },
            {
              "name": "commChannel",
              "value": "={{$json.body.comm?.channel || ''}}"
            },
            {
              "name": "notes",
              "value": "={{$json.body.notes || ''}}"
            },
            {
              "name": "rawData",
              "value": "={{JSON.stringify($json.body)}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3e88412b-c05c-4c55-97fc-8c02c99270a2",
      "name": "Format Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [544, 272]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "dXjQnbs9ge7pN9lz",
          "mode": "list",
          "cachedResultName": "Kickoff Submissions",
          "cachedResultUrl": "/projects/kLiDorHSvSbMcQI5/datatables/dXjQnbs9ge7pN9lz"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["submittedAt"],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [768, 176],
      "id": "804a2117-6cb1-4a2f-959d-ef52d7564e20",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"success\": true, \"message\": \"Kickoff data modtaget\", \"timestamp\": $now.toISO(), \"contactName\": $json.contactName} }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS, GET"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept, Origin"
              }
            ]
          }
        }
      },
      "id": "76faae3d-bf1b-4266-b8b7-146341570293",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [768, 368]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"success\": false, \"error\": \"Manglende påkrævede felter: contactName eller leadExamples\"} }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS, GET"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept, Origin"
              }
            ]
          }
        }
      },
      "id": "2f761953-e142-4cd9-9bd3-f1ee14adfd2f",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [544, 464]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check HTTP Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check HTTP Method": {
      "main": [
        [
          {
            "node": "OPTIONS Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Lead Intelligence"
    }
  ]
}
